/* Edit Role Permissions Modal */
/* 
 * This CSS file has been cleaned up.
 * Most styles have been moved to inline styles in the component.
 * The Modal, Form, FormSection, Loader, and ErrorMessage components
 * use their own atomic styles from the atoms folder.
 * 
 * If you need to add custom styles for this component in the future,
 * consider using inline styles or extending the atomic components.
 */
